<script setup lang="ts">
import { ref } from 'vue';
import MyBtn from './UI/MyBtn.vue';

const props = defineProps({
  labelOut: String,
  labelIn: String,
  hintText: String,
  modelValue: Object,
});

const emits = defineEmits(['update:modelValue']);

const uploadedFile = ref<File | null>(null);
const isUploading = ref<boolean>(false);
const isDisabled = ref<boolean>(false);
const isError = ref<boolean>(false);

const setUploadStatus = () => {
  isUploading.value = true;
  isError.value = false;
    if (uploadedFile.value) {
      console.log('Файл успешно загружен');
    } else {
      console.log('Ошибка загрузки файла');
    }
    isUploading.value = false;
};

const handleFileChange = async (event: Event) => {
  const target = event.target as HTMLInputElement;
  const file = (target.files || [])[0];
  if (file) {
    uploadedFile.value = file;
    try {
      await setUploadStatus();
      emits('update:modelValue', file);
    } catch (error) {
      isUploading.value = false;
      uploadedFile.value = null;
      isError.value = true;
      console.error('Ошибка загрузки файла:', error);
    }
  }
};

const uploadingCancel = () => {
  isUploading.value = false;
  uploadedFile.value = null;
};

const deleteUploadedFile = () => {
  emits('update:modelValue', null);
  uploadedFile.value = null;
};
</script>

<template>
  <div class="upload">
    <p class="upload__subhead">
      {{ labelOut }}
    </p>
    <div class="file-upload">
      <label
        v-if="!uploadedFile"
        class="file-upload__label"
        :class="{ 'label-disabled': isDisabled }"
      >
        <p>
          {{ labelIn }}
        </p>
        <input
          type="file"
          class="file-upload__input"
          :disabled="isDisabled"
          @change="handleFileChange"
        />
      </label>
      <my-btn
        v-if="!isUploading && uploadedFile"
        @click="deleteUploadedFile"
      >
        Удалить
      </my-btn>
      <my-btn
        v-if="isUploading && uploadedFile"
        @click="uploadingCancel"
      >
        Отменить
      </my-btn>

      <p class="file-upload__text" v-if="!isUploading && !uploadedFile">
        Файл не выбран
      </p>
      <div 
        v-if="isUploading" 
        class="file-upload__text_loaded"
      >
        <div class="file-upload__loader" />
        <p>{{ uploadedFile.name }}</p>
      </div>
      <div v-if="uploadedFile && !isUploading">
        <p class="file-upload__text_loaded">
          {{ uploadedFile.name }}
        </p>
      </div>
    </div>
    <p :class="{
        'file-hint_error': isError, 
        'file-hint': !isError 
      }" 
    >
      {{ isError ? 'Error message' : hintText  }}
    </p>
  </div>
</template>

<style lang="scss" scoped>
input[type='file'] {
  display: none;
}
.upload__subhead {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 500;
}
.file-upload {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 8px;
  font-size: 14px;
}
.file-upload__label {
  display: inline-block;
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px #00000005;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #f3f4f6;
    box-shadow: 0px 4px 8px 0px #00000005;
  }
  &:active {
    background-color: #d0d5dc;
    box-shadow: none;
  }
}
.label-disabled {
  color: #9ca3b0;
  box-shadow: none;
  cursor: default;
  &:hover,
  &:active {
    background-color: #fff;
    box-shadow: none;
  }
}
.file-upload__text {
  display: flex;
  align-items: center;
  color: #9ca3b0;
}
.file-upload__text_loaded {
  color: #6b7280;
}
.file-hint {
  color: #6b7280;
  font-size: 13px;
  line-height: 15.6px;
}
.file-upload__loader {
  width: 20px;
  margin-right: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #00a8a5;
  border-right-color: transparent;
  animation: l2 1s infinite linear;
  box-sizing: border-box;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
.file-hint_error {
  color: #ef4343;
}
</style>
