<script lang="ts" setup>
import FileForm from './FileForm.vue';
import { ref, onMounted } from 'vue';

const modelValue = ref<any>();
</script>

<template>
  <FileForm
    :model-value="modelValue"
    label-out="Label"
    label-in="Выберите файл"
    hint-text="Hint text"
    @update:model-value="modelValue = $event"
  />
</template>
