<script lang="ts">
import { defineComponent } from 'vue';
import PageWithInput from './components/PageWithInput.vue';

export default defineComponent({
  components: {
    PageWithInput,
  },
});
</script>

<template>
  <PageWithInput/>
</template>

<style scoped>
header {
  line-height: 1.5;
}
</style>
