<template>
  <button class="custom-btn">
    <slot></slot>
  </button>
</template>

<style lang="scss" scoped>
.custom-btn {
 display: block;
 padding: 12px;
 box-sizing: border-box;
 background-color: #fff;
 border: 1px solid #E5E7EB;
 border-radius: 12px;
 box-shadow: 0px 4px 8px 0px #00000005;
 transition: all 0.2s;
 cursor: pointer;
 &:hover {
  background-color: #F3F4F6;
  box-shadow: 0px 4px 8px 0px #00000005;
 }
  &:active {
  background-color: #D0D5DC;
  box-shadow: none;
 }
}
</style>

